# exclude everything
pictures/*

# exception to the rule
!pictures/.gitkeep 

# exclude everything
logs/*

# exception to the rule
!logs/.gitkeep 

.aws

# added by pw locally 12.21.22

python/trial.py
