[Unit]
Description=Broker Service
After=websocket_comms.service
BindsTo=websocket_comms.service
StartLimitBurst=0

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Desktop/MV1_firmware/python
ExecStart=/usr/bin/python3 /home/pi/Desktop/MV1_firmware/python/Broker.py
Restart=always
RestartSec=10
ExecStartPre=/bin/sleep 10
StandardOutput=append:/home/pi/Desktop/broker_output.log
StandardError=append:/home/pi/Desktop/broker_error.log

[Install]
WantedBy=multi-user.target
