[Unit]
Description=Broker Service
After=websocket_comms.service
#BindsTo=websocket_comms.service

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Desktop/MV1_firmware/python
ExecStart=/usr/bin/python3 /home/pi/Desktop/MV1_firmware/python/Broker.py
Restart=always
RestartSec=10
#ExecStartPre=/bin/sleep 10


[Install]
WantedBy=multi-user.target
