[Unit]
Description=WebSocket Communications Service
After=network.target
StartLimitIntervalSec=10
StartLimitBurst=50

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Desktop/MV1_firmware/python
ExecStart=/usr/bin/python3 /home/pi/Desktop/MV1_firmware/python/websocket_comms.py
Restart=always
RestartSec=5
ExecStartPre=/bin/sleep 10

[Install]
WantedBy=multi-user.target
