[Unit]
Description=wifi-connect
After=multi-user.target

[Service]
ExecStart=/bin/bash /home/pi/Desktop/MarsFarmMini/scripts/wifi.sh
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
