[Unit]
#Description=MARSfarm V1 Wi-Fi Connect
Description=wifi-connect
After=multi-user.target

[Service]
ExecStart=/bin/bash /home/pi/Desktop/MV1_firmware/scripts/wifi.sh
Restart=on-failure
User=pi

[Install]
WantedBy=multi-user.target
